.card {
  font-size: 10px;
  font-family: cursive;
  color: rgb(101, 22, 121);
  background-color: #ffffff;
  border: 5px solid rgb(101, 22, 121);
  margin-top: 60px;
  margin-left: 20px;
  width: 300px;
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
}
.card-header {
  font-size: 25px;
  text-align: left;
  font-family: cursive;
  border: 2px solid rgb(13, 13, 14);
  border-top-width: 0px;
  border-right-width: 0;
  border-left-width: 0;
  width: 280px;
  height: 20px;
  padding-bottom: 33px;
  padding-top: 15px;
  font-weight: bold;
}
.card-checkbox {
  position: relative;
  left: 250px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.checked-card {
  font-size: 10px;
  font-family: cursive;
  color: #0f0f0fee;
  background-color: #ffffff;
  border: 5px solid #503d3dee;
  margin-top: 60px;
  margin-left: 20px;
  width: 300px;
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
}

.pencil-button {
  position: relative;
  left: 210px;
  bottom: 25px;
  border: none;
  background-color: transparent;
}

.title-form {
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
  color: rgb(101, 22, 121);
  width: 280px;
  height: 40px;
  text-align: center;
  margin-top: 5px;
}

.text-form {
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  width: 300px;
  height: 150px;
  color: rgb(101, 22, 121);
  margin-top: 15px;
}

.cancel-button {
  position: relative;
  bottom: 25px;
  left: 110px;
  border: none;
  background-color: transparent;
}

.save-button {
  position: relative;
  left: 110px;
  bottom: 25px;
  border: none;
  background-color: transparent;
}

.position {
  display: flex;
  flex-wrap: wrap;
}

.app-checkbox {
  position: absolute;
  left: 150px;
  top: 160px;
  width: 30px;
  height: 30px;
}

.view-only-header {
  position: absolute;
  font-weight: bold;
  font-size: 25px;
  left: 25px;
  top: 160px;
  color: rgb(101, 22, 121);
  font-family: cursive;
}

.save-button-edit {
  position: relative;
  left: 190px;
  bottom: 30px;
  border: none;
  background-color: transparent;
}

.cancel-button-edit {
  position: relative;
  left: 190px;
  bottom: 30px;
  border: none;
  background-color: transparent;
}
